<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Postify</title>
    <link rel="stylesheet" href="/posts.css">
    <link rel="icon" type="image/jpg" href="/logo2.jpg">
</head>
<body>
    <div class="headingg">
        <h1>Welcome To Postify</h1>
    </div>
    <div class="create-link">
        <a href="http://localhost:5050/posts/new">+ Create New Post</a>
    </div>
<br>
    <div class="postsData">
        
        <% posts.forEach(post => { %>
            <div class="post">
                <h2 class="username">@<%= post.username %></h2>
                <p class="content"><%= post.content %></p>
                <br>
                <a href="http://localhost:5050/posts/<%= post.id %>">View Post</a>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <!-- <br> -->
                <a href="http://localhost:5050/posts/<%= post.id %>/edit">Edit Your Post</a>
                <br>
                <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                    <button>Delete Post</button>
                </form>
            </div>
        <% }) %>
    </div>
</body>
</html>
